{% extends 'base.html' %}

{% load bootstrap4 %}

{% block body %}
<section id="book-a-table" class="book-a-table">
    <div class="container">

      <div class="section-title">
        <h2>Book a <span>Table</span></h2>
        <p>Booking a table now made easy with only the press of a button </p>
      </div>

      {% comment %}
      <form action="" method="post" class="php-email-form">
        {% csrf_token %}
        <div class="form-row">
          <div class="col-lg-12 col-md-12 form-group">Name:{{form.name}}
            <div class="validate"></div>
          </div>
          <div class="col-lg-12 col-md-12 form-group">Email:{{form.email}}
            <div class="validate"></div>
          </div>
          <div class="col-lg-12 col-md-12 form-group">Phone No.:{{form.phone}}
            <div class="validate"></div>
          </div>
          <div class="col-lg-12 col-md-12 form-group">Date:{{form.Date}}
            <div class="validate"></div>
          </div>
          <div class="col-lg-12 col-md-12 form-group">Time:{{form.time}}
            <div class="validate"></div>
          </div>
          <div class="col-lg-12 col-md-12 form-group">No. of persons:{{form.number_of_persons}}
            <div class="validate"></div>
          </div>
        </div>
        <div class="form-group">Any Special Requsts:{{form.message}}
          <div class="validate"></div>
        </div>
        <div class="text-center"><button type="submit">Submit</button></div>
      </form>
      {% endcomment %}

      <form action="" method="POST">
        {% csrf_token %} 
        {% bootstrap_form form %}
        {% buttons %}
          <div class="text-center"><button type="submit">Submit</button></div>
        {% endbuttons %}
      </form>

    </div>
  </section><!-- End Book A Table Section -->

{% endblock %}